<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktss.safety.ecrm.fcm.FcmMapper">

    <insert id="upsertDeviceFcmToken">
        INSERT INTO ecrm_device_fcm (id,
                                     uuid,
                                     fcm_token,
                                     useyn,
                                     create_date,
                                     update_date)
        VALUES (#{id},
                #{uuid},
                #{fcm_token},
                #{useyn},
                NOW(),
                NOW())
        ON DUPLICATE KEY UPDATE fcm_token   = VALUES(fcm_token),
                                useyn       = VALUES(useyn),
                                update_date = NOW()
    </insert>

    <delete id="deleteDeviceFcmToken">
        DELETE
        FROM ecrm_device_fcm
        WHERE id = #{id}
          AND uuid = #{uuid}
    </delete>

    <select id="getFcmUseYn">
        SELECT fcm.useyn
        FROM ecrm_device_fcm fcm
        WHERE id = #{id}
          AND uuid = #{uuid}
    </select>

    <select id="getFcmTokensByContractCode" parameterType="string" resultType="map">
        SELECT fcm.fcm_token
        FROM ecrm_device_fcm fcm
        WHERE fcm.useyn = 'Y'
          AND fcm.id IN (SELECT u.id
                         FROM `user` u
                         WHERE u.authority_code = 1
                            OR (u.authority_code NOT IN (1, 3) AND u.id = #{contract_code}))
    </select>

    <select id="getFcmPhone">
        SELECT emergency_tel1,emergency_tel2,emergency_tel3
        FROM subscribe_contract_service
        WHERE #{contract_code}
    </select>
</mapper>
